.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 30px 0 30px;
}
.wrapper {
  display: flex;
  gap: var(--gap-20);
}
.navigation {
  display: flex;
  gap: var(--gap-27);
}
